@import "config";
@import "menu";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

//body styling
body {
  @include background;
  background: $primary-colour;
  color: set-text-color($primary-colour);
  height: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}
//heading styling
h1,
h2,
h3 {
  font-weight: 400;

  &.large-heading {
    font-size: 6rem;
  }
  &.small-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-colour, 2), 0.5);
  }
}

//link styling

a {
  color: #fff;
  text-decoration: none;
}

//header styling (menu button)

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

//styling for dual colour font in h1
.text-secondary {
  color: $secondary-colour;
}

//styling for main content

main {
  padding: 4rem;
  //height: 100%;
  height: calc(100vh-60px);

  .icons {
    margin-top: 1rem;
    a {
      padding: 0.4rem;
      &:hover {
        color: $secondary-colour;
        @include easeOut();
      }
    }
  }
  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

.about-info {
  display: grid;
  grid-template-areas: "bioimage bio bio" "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: $secondary-colour 3px solid;
  }

  .bio {
    grid-area: bio;
    font-size: 1.5rem;
  }

  .job1 {
    grid-area: job1;
  }
  .job2 {
    grid-area: job2;
  }
  .job3 {
    grid-area: job3;
  }
  .job {
    background: lighten($primary-colour, 5);
    padding: 0.5rem;
    border-bottom: $secondary-colour 5px solid;
  }
}

//work/projects
.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr);

  img {
    width: 100%;
    border: 3px solid white;

    &:hover {
      opacity: 0.5;
      border-color: $secondary-colour;
      transform: scale(1.1, 1.1);
      @include easeOut;
    }
  }
}

//contact page
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;

  div {
    font-size: 2rem;
    border: 3px solid white;
    padding: 0.5rem 1.5rem;
    margin-bottom: 3rem;
    @include easeOut;

    &:hover {
      padding: 1.5rem 2.5rem;
      background: $secondary-colour;
      color: set-text-color($secondary-colour);

      span {
        color: set-text-color($secondary-colour);
      }
    }
  }
}

//button styles
.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;

  &:hover {
    background: $secondary-colour;
    color: set-text-color($secondary-colour);
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-colour, 50);
  color: #fff;
}

.btn-light {
  @extend .btn;
  background: lighten($primary-colour, 50);
  color: #333;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-colour, 10);
  color: set-text-color($primary-colour);
  height: 60px;
}

@import "mobile";
